/** GENERAL **/
body{
    margin:0;
    padding:0;
    background: url(../../public/source/images/img-bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

#container{

}

#color-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

/** HEADER **/
.header{
    width: 100%;
    height: 100px;
    top:0;
    position: absolute;
    background-color: #052427;
    display: flex;
    justify-items:center;
    align-items: center;
}
.logo{
    width: 42%;
}
.logo img{
    height: 100px;
    padding-left: 20px;

}
.titre{
    width: 30%;
   font-family: Helvetica, sans-serif;
}
.titre h2{
    color: white;
}



/** BLOCK FORM LOGIN **/
.form-login{
    position: absolute;
    top:100px;
    left:30%;
    right: 28%;
    margin: 90px auto;
    width: 500px;
    height: 380px;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Open Sans', sans-serif;

}
.form-login-head{
    width: 100%;
    height: 20%;
    border-radius: 3px 3px 0px 0px;
    background-color: #52bfd1;
    position: relative;
    bottom: 18px;
}
.form-login-head h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    padding: 25px;
    font-size: 16px;
    color: #f2f2f2;

}
.form-login-form{
    width: 100%;
    height: 80%;
    padding: 30px 55px 0px 50px;
    box-sizing: border-box;

}
#login,#password{
    padding-left: 10px;
    font-weight: bold;
    color: #858383;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.24);
    font-size: 12px;
    border:solid 2px #e0e0e0;
    border-radius: 3px;
    background-color: #f0eef1;
    width: 400px;
    height: 40px;
    display: block;

}


.form-login-form input[type="submit"]{
    width: 120px;
    height: 45px;
    background-color: #52bfd1;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:0px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.form-login-form a{
    text-decoration: none;
    font-size: 12px;
    color: #999999;
    text-shadow: 1px 1px 2px white;
    margin-left: 30px;
    cursor: pointer;
}
.form-login-form .icone-login{
    position: absolute;
    margin: 12px 0px 0px 380px;
}

.form-login-form .icone-password{
    position: absolute;
    margin: 12px 0px 0px 380px;
    width: 20px;
    height: 20px;
}
.comment{
    font-size: 12px;
    color: red;
}

/*** PAGE ACCUEIL ***/
#container-accueil{
    position: absolute;
    top:130px;
    left: 5%;
    width:90%;
    height: 550px;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container-accueil-head{
    width: 100%;
    height: 15%;
    border-radius: 3px 3px 0px 0px;
    background-color: #52bfd1;
    position: relative;
    bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}
.head-center{
    margin-left: 50px;
}

.head-left img{
    width: 60px;
    height: 60px;
    border:solid 1px white;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 70px;
    visibility: hidden;
}
.head-left p{
    font-size: 10px;
    color: white;
    text-align: center;
    padding-left: 70px;
    margin-top: -5px;
    visibility: hidden;
}
.head-right{
    margin-right: 80px;
}
.head-right form input[type="submit"]{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #49d1cb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
.head-right form input:hover[type="submit"]{
    background-color: #052427;
}
.head-center h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 20px;
    color: #f2f2f2;
    text-transform: uppercase;
    text-align: center;
}
.head-center h3 span{
    font-size: 12px;
}

/**** ACCUEIL ADMINISTRATION ****/
.container-accueil-corps{
    display: flex;
    flex-wrap: nowrap;
}
.container-accueil-corps-menu{
    width: 30%;
    height: 337px;
    margin:45px 0px 0px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 6px 0px rgba(19, 35, 47, 0.3);
}
.container-accueil-corps-menu .top{
    width: 100%;
    height: 30%;
    border-radius: 5px 5px 0px 0px;
    background: rgb(82,191,209);
    background: linear-gradient(0deg, rgba(82,191,209,1) 38%, rgba(210,238,243,1) 80%, rgba(255,255,255,1) 100%);
    position: relative;
}
.container-accueil-corps-menu .top img{
    width: 80px;
    height: 80px;
    border:solid 1px #8d8170;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left:10px;
    padding: 10px;
}
.container-accueil-corps-menu .top p{
    position: relative;
    top: 20px;
    left:135px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.container-accueil-corps-menu .top .nom{
    position: relative;
    left:170px;
    top:5px;
}
.container-accueil-corps-menu .bottom{
    width: 100%;
    height: 70%;
}
#menu-admin{
    font-family: "HelveticaNeue-Light";
    font-size: 14px;
    padding: 0;
}
#menu-admin li{
    list-style: none;
    padding: 12px;
}
#ic-0,#ic-1,#ic-2,#ic-3,#ic-4{
    position: relative;
}
.ic-color{
    width: 2%;
    height: 100%;
    position: absolute;
}
.ic-img{
    position: absolute;
    top: 14px;
    left: 88%;
}
.ic-dashboard
{
    width: 22px;
    height:22px;
}

.active{
    background-color: #f8f3f1;
}
.div-item-active{
    background-color: green;
}

#menu-admin li a{
    text-decoration: none;
    color: #8d8170;
}

#container-accueil-corps {
    width: 65%;
    height: 450px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 6px 0px rgba(19, 35, 47, 0.3);
}
.accueil-nbre-question{
    padding: 10px;
    height: 5%;
    color: #8d8170;
    text-align: center;
}
.titre-lbl{
    color: #8b8b8b;
    font-weight: bold;
    font-size: 20px;
    font-family: "HelveticaNeue-Light";
}
.accueil-nbre-question form input[type="submit"]{
    background-color: #5e90af;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    width: 30px;
    height: 20px;
    margin-left: 12px;
    cursor: pointer;
}
.accueil-nbre-question form input:hover[type="submit"]{
    background-color: #8d8170;
}
.accueil-nbre-question form input[type="text"]{
    margin-left: 12px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #8d8170;
}
.accueil-nbre-question  form input[type="text"]{
    height: 20px;
    width: 30px;
}
.accueil-list-question{
    border: 0.5px solid #8d8170;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius: 12px / 24px;
    border-radius:12px / 24px;
    height: 80%;
    margin:0px 20px 0px 20px;
    padding: 12px 0px 0px 12px;
    overflow:scroll;
}
.question-line
{
    font-size: 18px;
    color: #736c72;
    font-family: "Helvetica Neue";
    font-weight: bold;
}
.reponse
{
    width:50%;
    height: 6%;
    font-size: 14px;
    margin: 5px 0px 0px 5px;
    font-weight: bold;
    color: black;
    background-color: #cccccc;
    border:1px solid silver;
}
.lbl-reponse
{
    font-size: 16px;
    margin: 5px 0px 0px 5px;
    font-weight: bold;
    color: black;
}
.accueil-question-next{
    background-color: #f8f3f1;
    border-radius: 0px 0px 5px 5px;
    margin-top: 1%;
    height:9%;
    box-shadow: 0px 1px 6px 0px rgba(19, 35, 47, 0.3);
    position:relative;
}
.button-next{
    width: 65px;
    height: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 85%;
    background-color: #49d1cb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
.accueil-question-next form input:hover[type="submit"]{
    background-color:  #8d8170;
}
.button-previous
{
    width: 72px;
    height: 20px;
    color: white;
    position: absolute;
    top:10px;
    margin-left: 5%;
    background-color: #736c72;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
#form-create-user{
    margin-left: 50px;
}
.label-create-user{
    color: #8d8170;
    font-size: 12px;
    font-family: "HelveticaNeue-Light";
}
#form-create-user input[type="text"],input[type="password"]{
    display: block;
    width: 300px;
    height: 30px;
    font-size: 14px;
    color: #575156;
    font-weight: bold;
}
.title-create-user {
    color: #575156;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: "HelveticaNeue-Light";
}
.comment-create-user{
    color: #8d8170;
    font-size: 12px;
    margin-left: 40px;
    margin-top: -10px;
    font-family: "HelveticaNeue-Light";
}
.hr-create-user{
    margin-right: 50%;
}
#choice-file-button{
    height: 20px;
    width: 100px;
    border:0px;
    font-size: 8px;
    background-color: #52bfd1;
    cursor: pointer;
    color: white;
    margin: -15px 0 0 165px;
    font-weight: bold;
    border-radius: 3px;
}
#choice-file{
   visibility: hidden;
}


.avatar-create-user{
    margin-top: 10px;
    font-size: 12px;
}
#create-user{
    height: 30px;
    width: 120px;
    border:0px;
    color:white;
    font-size: 13px;
    background-color: #52bfd1;
    border-radius: 2px;
    cursor: pointer;
    margin: 15px 0 8px 70px;
    font-weight: bold;
    display: block;
}
.avatar-create-user-img{
    border: 3px solid #52bfd1;
    position: absolute;
    top: 64px;
    left: 505px;
    width:24%;
    height: 34%;
    border-radius: 50%;
}
.lbl-avatar-admin{
    position: absolute;
    top: 290px;
    left: 560px;
    font-size: 12px;
    color: black;
}


/*** PAGE CREATE USER ***/
#container-create-user{
    position: absolute;
    top:140px;
    left: 5%;
    width:90%;
    height: 550px;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.comment2{
    margin-top: -1px;
    font-size: 12px;
    color: red;
}

/** TABLE LISTE JOUEURS **/
#list-joueurs
{
    margin-left: 2%;
    color: #8d8170;
    white-space: nowrap;
}
#list-joueurs .td-simple
{
    padding-right: 200px;
}
#list-joueurs .td-score
{
    padding-right: 0px;
}
#pts
{
    font-size:12px;
}
.td-first
{
    font-size: 18px;
    font-weight: bold;
}



/** PAGE JEUX **/
#container-accueil-jeux
{
    background-color: #f1f1f1;
    width: 97%;
    height: 80%;
    margin:auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}
#container-accueil-question
{

}
#question-jeux
{
    height: 90%;
    width: 100%;
    overflow: scroll;
}
#questions
{
    width: 95%;
    height: 30%;
    background-color: #eeeeee;
    margin: 12px 0px 0px 20px;
    text-align: center;
    padding-top: 12px;
}
/** RECAPITULATIF **/
#recap-titre
{
    margin:12px 0px 0px 50px;
    font-size: 20px;
    color: #44a3d1;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
#recap-score
{
    margin:20px 0px 0px 270px;
}
#recap-questions
{
    margin: 30px 0px 0px 20px;
    line-height: 50px;
    overflow: scroll;
}
.ic-validate
{
    width: 22px;
    height: 22px;
    margin-left: 12px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
}

.titre-question
{
    font-family: "Helvetica Neue";
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.border-right-bottom
{
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #52bfd1;
}
.question
{
    font-family: "Helvetica Neue";
    font-size: 20px;
}
#reponses-1
{
    margin-left: 100px;
    line-height: 50px;

}
.rep-quest-text
{
    width: 500px;
    height: 25px;
    margin: 80px 0px 0px 40px;
    border:solid 2px #44a3d1;
    border-radius: 3px;
    background-color: #f9f7fa;
}
#points
{
    width: 7%;
    height: 8%;
    background-color:#eeeeee;
    margin: 12px 0px 0px 89.1%;
    padding: 6px 0px 0px 10px;
}
#points span
{
    font-family: "HelveticaNeue-Light";
    font-size: 17px;
}
#container-accueil-button
{
    background-color: #f8f3f1;
    border-radius: 0px 0px 5px 5px;
    height: 9%;
    box-shadow: 0px 1px 6px 0px rgba(19, 35, 47, 0.3);
}
#container-accueil-question
{
    width: 70%;
    border: 0.5px solid #44a3d1;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius: 12px / 24px;
    border-radius:12px / 24px;
    margin:12px;
    position: relative;
    background-color: white;
    height: 100%;
    overflow: scroll;
}
#next-question
{
    position: absolute;
    top: 90%;
    left: 85%;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #49d1cb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
#remake-question
{
    position: absolute;
    top: 90%;
    left: 82%;
    width: 90px;
    height: 30px;
    color: white;
    background-color: #49d1cb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
#exit-party
{
    position: absolute;
    top: 90%;
    left: 70%;
    width: 98px;
    height: 30px;
    color: white;
    background-color: #052427;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
#before-question
{
    position: absolute;
    top: 90%;
    left: 20px;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #736c72;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;

}
#container-accueil-score
{
    width: 28%;
    overflow: scroll;
}
#nav-score
{
    position: relative;
    width: 100%;
    height: 20%;
    top: 20px;
}

.menu-score
{
    color: #44a3d1;
    font-size: 12px;
    font-family: "Helvetica Neue";
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    background-color: Transparent;
    cursor: pointer;
}
#div-top-score
{
    position: absolute;
    width: 50%;
    top: 12px;
    height: 50%;
    border-radius: 3px;
}
#menu-top-score
{
    position: absolute;
    top: 9px;

}
#div-best-score
{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 12px;
    left: 156px;
    border-radius: 3px;
}
.title-score
{
    font-size: 14px;
    padding: 90px 0px 0px 20px;
    text-align: center;
}
.title-score span
{
    color: green;
    font-size: 30px;
}

#menu-best-score
{
    position: absolute;
    top: 9px;

}
#div-score
{
    height: 70%;
    width: 100%;
    background-color: white;
    margin-top: -28px;
    border-radius: 8px;
    position: relative;
}

.table-top-score
{
    padding: 5px 0px 0px 10px;
    white-space: nowrap;
}
.td-top-score-prn
{
    padding-right: 60px;

}
.td-top-score-prn
{
    font-size: 16px;
    font-weight: bold;
    width: 60%;
}
.td-top-score-sc
{
    text-align: center;
    padding-top: 12px;
    width: 20%;
}

#comment
{
    color: silver;
    font-size: 12px;
    padding: 12px;
}

/*** PAGE CREATE QUESTION ***/
.lbl-param-question
{
    color: #44a3d1;
    font-weight: bold;
    font-size: 20px;
}
#create-question-div
{
    border: 0.5px solid #44a3d1;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius: 12px / 24px;
    border-radius:12px / 24px;
    height: 80%;
    margin:0px 20px 0px 20px;
    overflow:scroll;
}
#form-create-question{
    margin:  12px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#form-create-question div
{
    margin-bottom: 12px;
}
#form-create-question input,select
{
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #44a3d1;
    background-color: #eeeeee;
    color:#736c72;
    padding-left: 10px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    height: 60%;
}
#form-create-question label
{
    font-weight: bold;
    font-size: 16px;
    color: #736c72;
    font-family: "Helvetica Neue";
    margin-right: 10px;
}
#question{
    display: flex;
    flex-wrap: wrap;
    height:100px;
}
#question input
{
    width: 50%;
    height: 100%;
}

#nbre-point
{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
#nbre-point label{
    margin-right: 10px;
}
#nbre-point input
{
    width: 8%;
}

#type-reponse
{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#type-reponse select
{
    width: 40%;
    margin-right: 12px;
}
#ic-ajout-rep
{
    height: 60%;
    cursor: pointer;
    visibility: hidden;
}
#reponses{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.reponse-div{
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.reponse-div input[type="text"]
{
    width: 40%;
}
#ic-delete
{
    cursor: pointer;
}
.ic-delete-1
{
    visibility: hidden;
}
#save-question
{

}
#save-question input
{
    display: flex;
    width: 95px;
    height: 30px;
    color: white;
    background-color: #49d1cb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:none;
    box-shadow:  0 2px 3px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}
.comment-1
{
    font-size: 12px;
    color: red;
    margin-left: 5px;
}

#container-create-question
{
    position: absolute;
    top:130px;
    left: 5%;
    width:90%;
    height: 550px;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*** PAGE DASHBOARD ***/
#container-dashboard-corps
{
    width: 74%;
    height: 465px;
    margin-left: 10px;
    overflow: scroll;
}
#dashboard-top
{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    margin-top: 12px;
}
#dashboard-top-left
{
    width: 35%;
    height: 100%;
    margin-left: 12px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}
#dashboard-top-left img
{
    width: 45px;
    margin: 16px 0px 0px 10px;
    position: absolute;

}
#dashboard-top-left p
 {
    top: 14px;
     position: absolute;
     left:70%;
     text-align: center;
     font-size: 10px;
    color: #736c72;
    font-family: "Open Sans";
 }
#dashboard-top-left p span
{
    font-size: 16px;
    color: #44a3d1;
}
#dashboard-top-right
{
    width: 35%;
    height: 100%;
    margin-right: 12px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}
#dashboard-top-right img
{
    width: 45px;
    margin: 16px 0px 0px 10px;
    position: absolute;

}
#dashboard-top-right p
{
    top: 14px;
    position: absolute;
    left:70%;
    text-align: center;
    font-size: 10px;
    color: #736c72;
    font-family: "Open Sans";
}
#dashboard-top-right p span
{
    font-size: 16px;
    color: #44a3d1;
}
#dashboard-center
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 55%;
    justify-content: space-between;
    margin-top: 30px;

}
#dashboard-center-left
{
    width:55%;
    height:109%;
    background-color: white;
    margin-left: 12px;
}
#dashboard-center-right
{
    width:40%;
    height:100%;
    background-color: white;
    margin-right: 12px;
}
#dashboard-center-right p
{
    font-size: 10px;
    color:#736c72;
    background-color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 2px;
    height: 20px;
}

#graph1
{
    margin:20px 0px 0px 12px;
    width: 100%;
    height: 100%;
}
.ic-success
{
    width: 40px;
    margin-left: 400px;
}

