/** GENERAL **/
body{
    margin:0;
    padding:0;
    background: url(../../public/source/images/img-bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

#color-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

/** HEADER **/
.header{
    width: 100%;
    height: 100px;
    top:0;
    position: absolute;
    background-color: #052427;
}
.logo img{
    height: 100px;
    padding-left: 20px;
    float: left;
}
.titre{
    padding-top: 12px;
    padding-left: 475px;
    float: left;
   font-family: Helvetica, sans-serif;
}
.titre h2{
    color: white;
}



/** BLOCK FORM LOGIN **/
.form-login{
    position: absolute;
    top:100px;
    left:30%;
    right: 28%;
    margin: 90px auto;
    width: 500px;
    height: 330px;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Open Sans', sans-serif;
   
}
.form-login-head{
    width: 100%;
    height: 20%;
    border-radius: 3px 3px 0px 0px;
    background-color: #52bfd1;
    position: relative;
    bottom: 18px;
}
.form-login-head h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24); 
    padding: 25px;
    font-size: 16px;
    color: #f2f2f2;
    
}
.form-login-form{
    width: 100%;
    height: 80%;
    padding: 30px 55px 0px 50px;
    
}
#login,#password{
    padding-left: 10px;
    font-weight: bold;
    color: #858383;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.24);
    font-size: 12px;
    border:solid 2px #e0e0e0;
    border-radius: 3px;
    background-color: #f0eef1;
    width: 400px;
    height: 40px;
    display: block;

}

#password{
    margin-top:30px;
}
.form-login-form input[type="submit"]{
    margin-top: 30px;
    width: 120px;
    height: 45px;
    background-color: #52bfd1;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:0px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.form-login-form a{
    text-decoration: none;
    font-size: 12px;
    color: #999999;
    text-shadow: 1px 1px 2px white;
    margin-left: 30px;
    cursor: pointer;
}
.form-login-form .icone-login{
    position: absolute;
    margin: 12px 0px 0px 380px;
}

.form-login-form .icone-password{
    position: absolute;
    margin: 40px 0px 0px 380px;
    width: 20px;
    height: 20px;
}
.comment{
    font-size: 12px;
    color: red;
}