/** GENERAL **/
body{
    margin:0;
    padding:0;
    background: url(../../public/source/images/img-bg.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#color-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

/** HEADER **/
.header{
    width: 100%;
    height: 100px;
    top:0;
    position: absolute;
    background-color: #052427;
}
.logo img{
    height: 100px;
    padding-left: 20px;
    float: left;
}
.titre {
    width: 50%;
    font-size: 12px;
}
.titre h2{
    color: white;
}



/** BLOCK FORM LOGIN **/
.form-login{
    position: absolute;
    top:100px;
    left:30%;
    right: 28%;
    margin: 90px auto;
    width: 500px;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Open Sans', sans-serif;

}
.form-login-head{
    width: 100%;
    height: 20%;
    border-radius: 3px 3px 0px 0px;
    background-color: #52bfd1;
    position: relative;
    bottom: 18px;
}
.form-login-head h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    padding: 25px;
    font-size: 16px;
    color: #f2f2f2;

}
.form-login-form{
    width: 100%;
    height: 80%;
    padding: 30px 55px 0px 50px;
    box-sizing: border-box;

}
#login,#password{
    padding-left: 10px;
    font-weight: bold;
    color: #858383;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.24);
    font-size: 12px;
    border:solid 2px #e0e0e0;
    border-radius: 3px;
    background-color: #f0eef1;
    width: 400px;
    height: 40px;
    display: block;

}

.form-login-form input[type="submit"]{
    width: 120px;
    height: 45px;
    background-color: #52bfd1;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    border:0px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.form-login-form a{
    text-decoration: none;
    font-size: 12px;
    color: #999999;
    text-shadow: 1px 1px 2px white;
    margin-left: 30px;
    cursor: pointer;
}
.form-login-form .icone-login{
    position: absolute;
    margin: 12px 0px 0px 380px;
}

.form-login-form .icone-password{
    position: absolute;
    margin: 15px 0px 0px 380px;
    width: 20px;
    height: 20px;
}
.comment{
    font-size: 12px;
    color: red;
}

/** HEADER CONTAINER **/
.head-center{
    margin-left: 50px;
}
.head-center h3{
    font-size: 16px;
}
.head-left img{
    width: 50px;
    height: 50px;
}

#form-create-user input[type="text"],input[type="password"]{
    display: block;
    width: 300px;
    height: 30px;
    font-size: 14px;
    color: #575156;
    font-weight: bold;
}
.avatar-create-user-img {
    border: 3px solid #52bfd1;
    position: absolute;
    top: 401px;
    left: -187px;
    width: 24%;
    height: 26%;
    border-radius: 50%;
}
.lbl-avatar-admin {
    position: absolute;
    top: 574px;
    left: -163px;
    font-size: 12px;
    color: black;
}

#list-joueurs td
{
    padding-right: 80px;
}